body {
  text-align: center;
  background-color: #3c3636;
}

ul {
  list-style: none;

  text-align: center;

  margin-top: auto;

  margin-bottom: auto;

  margin-right: 40px;

  font-size: 40px;
}

a,
p,
h1,
h2 {
  color: lightgray;
  font-family: 'Courier New', Courier, monospace;
}

.form-inline {
  color: white;
}

input {
  color: black;
  border-radius: 26px;
  box-sizing: border-box;
  border: 2px solid;
}

input:hover {
  background-color: #ffffff;
  color: #1100ff;
}

a {
  text-decoration: none;
}
